---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const episodes = await getCollection("episodes");
const sortedEpisodes = episodes
  .sort((a, b) => {
    const aDate = new Date(a.data.airDate);
    const bDate = new Date(b.data.airDate);
    return aDate > bDate ? -1 : 1;
  })
  .filter((episode) => episode.id !== Astro.params.slug);

export const getStaticPaths = (async () => {
  const episodes = await getCollection("episodes");
  return episodes.map((episode) => ({
    params: {
      slug: episode.id,
    },
    props: { episode },
  }));
}) satisfies GetStaticPaths;

const { episode } = Astro.props;

import { getCrewRoles, getNiceDate } from "../../content/config";
---

<BaseLayout
  title=`Contacts Plus – S${episode.data.season} E${episode.data.episode}`
>
  <main class="flex w-full flex-col items-center">
    <cover
      class="fixed inset-0 -z-20 flex h-screen w-full justify-center overflow-hidden"
    >
      <img
        src=`https://i.ytimg.com/vi/${episode.data.ytID}/maxresdefault.jpg`
        alt="YouTube thumbnail"
        class="h-auto w-full object-cover"
      />
    </cover>
    <content class="relative flex w-full justify-center pb-6 pt-16">
      <faders class="absolute inset-0 -z-10 flex flex-col">
        <!-- left gradient -->
        <div
          class="absolute inset-0 -z-10 hidden sm:block"
          style="background: linear-gradient(54deg,hsl(228.6, 84%, 4.9%) 15%,transparent 70%);"
        >
        </div>
        <!-- bottom gradient -->
        <div
          class="h-[48em]"
          style="background: linear-gradient(180deg,hsla(0,0%,7%,0) 40%,#020617);"
        >
        </div>
        <!-- solid bottom -->
        <div class="flex-1 bg-slate-950"></div>
      </faders>
      <div class="min-h-screen w-full px-4 pt-[24em] md:px-24">
        <div class="w-full md:w-1/2">
          <h1 class="text-6xl font-bold">
            {episode.data.title}
          </h1>
          <div class="mt-4 flex flex-row space-x-4 text-lg font-light">
            <div>
              <span>S{episode.data.season}</span>
              <span>E{episode.data.episode}</span>
            </div>
            <span>{getNiceDate(episode.data.airDate)}</span>
          </div>
          <div class="mt-2">
            <p>
              {episode.data.description}
            </p>
          </div>
          <div class="mt-6">
            <a
              href=`https://youtu.be/${episode.data.ytID}`
              class="rounded-lg bg-gradient-to-br from-indigo-500 to-indigo-900 p-3 hover:from-indigo-900 hover:to-indigo-500"
            >
              Watch video now</a
            >
          </div>
          <div class="mt-5">
            Tags: {episode.data.tags.join(", ")}
          </div>
        </div>
        <div class="mt-10">
          <h2 class="text-3xl font-bold">Who's in this episode?</h2>
          <div class="mt-3 flex flex-row flex-wrap items-stretch gap-6">
            <div
              class="w-full min-w-64 rounded border border-slate-700 p-6 md:w-auto"
            >
              <h3 class="text-xl font-bold">Crew</h3>
              <ul class="list-inside list-disc">
                {
                  episode.data.crew.map((crewMember) => (
                    <li>
                      {crewMember.name} &ndash; {getCrewRoles(crewMember.role)}
                    </li>
                  ))
                }
              </ul>
            </div>
            <div
              class="w-full min-w-64 rounded border border-slate-700 p-6 md:w-auto"
            >
              <h3 class="text-xl font-bold">Guests</h3>
              <ul class="list-inside list-disc">
                {episode.data.guests.map((guest) => <li>{guest}</li>)}
              </ul>
            </div>
          </div>
          <div>
            <h2 class="mt-10 text-3xl font-bold">Other Episodes</h2>
            <div class="mt-3 flex flex-row flex-wrap gap-6">
              {
                sortedEpisodes.map((otherEpisode) => (
                  <div class="w-full md:w-72">
                    <a href={`/episodes/${otherEpisode.id}`}>
                      <img
                        class="h-auto w-full transition-all hover:brightness-75 md:w-72"
                        src={`https://i.ytimg.com/vi/${otherEpisode.data.ytID}/maxresdefault.jpg`}
                      />
                      <div class="mt-2 flex flex-row gap-3 text-sm font-light">
                        {/* prettier-ignore */}
                        <span class="font-semibold">
                          S{otherEpisode.data.season} E{otherEpisode.data.episode}
                        </span>
                        <span class="text-slate-400">
                          {getNiceDate(otherEpisode.data.airDate)}
                        </span>
                      </div>
                      <span class="leading-tight">
                        {otherEpisode.data.title}
                      </span>
                    </a>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </content>
  </main>
</BaseLayout>
