---
import { readItems, readSingleton } from "@directus/sdk";
import directus from "../../lib/directus";
import { getNiceDate } from "../content/config";
import BaseLayout from "../layouts/BaseLayout.astro";
import StaffCard from "../components/StaffCard.astro";
import SupportCTA from "../components/SupportCTA.astro";
import PeertubeFull from "../../public/img/peertube full.svg";

// const episodes = await getCollection("episodes");

// // airDate is a string, so we need to convert it to a Date object
// const latestEpisodes = episodes
//   .sort(
//     (a, b) =>
//       new Date(b.data.airDate).getTime() - new Date(a.data.airDate).getTime()
//   )
//   .slice(0, 3);

const globals = await directus.request(
  readSingleton("global", {
    fields: ["main_hero", "hero_cover", "hero_wolf"],
  }),
);

const latestEpisodes = await directus.request(
  readItems("videos", {
    fields: [
      "id",
      { season: ["season_num"] },
      "episode_num",
      "title",
      "thumbnail",
      "published_at",
    ],
    sort: ["-published_at"],
    limit: 3,
  }),
);

const staff = await directus.request(
  readItems("people", {
    fields: [
      "sort",
      "name",
      "staff_title",
      "portrait",
      "discord",
      "telegram",
      "bsky",
      "fediverse",
      "website",
      "xitter",
    ],
    filter: {
      staff: {
        _eq: true,
      },
    },
    sort: ["sort"],
  }),
);
---

<style>
  .min-h-content {
    min-height: calc(100vh - 9rem);
  }
</style>

<script>
  const watchNow: HTMLElement = document.getElementById("watch-now")!;

  watchNow.addEventListener("mouseover", () => {
    if (
      watchNow.innerText != "Touch the cow, do it now" &&
      Math.random() > 0.97
    ) {
      watchNow.innerText = "Touch the cow, do it now";
    }
  });

  const tagline: HTMLElement = document.getElementById("tagline")!;

  // choose random quote
  const list = [
    "Bet'cha we can talk about poop more than you.",
    "Those special ED teachers were right.",
    "Apes together, podcasters.",
    "Two dogs, a bird, angry Jell-O, and an Italian.",
    "An existential crisis away from becoming a boyband.",
    "A pack of hotdogs made of forgetfulness.",
    "Four-and-a-half men, you decide what we mean by that.",
    "An ever growing debt of saltines.",
    "What happens when rural americans get a little too close to becoming K-pop idols.",
    "We're proud of you, sondaughter.",
    "Can't spell Entertainment without eeatinmetr.",
    "We can tell if they're lying by their taste.",
    "VR personalities that should probably stay there.",
    "After annoying Noot seven times, your next pizza is FREE.",
  ];

  tagline.innerText = list[Math.floor(Math.random() * list.length)];
</script>

<BaseLayout title="Contacts Plus – Metaverse Content">
  <main class="min-h-content mt-20 flex w-full flex-col items-center">
    <artcle class="flex w-full flex-col items-center space-y-10 last:mb-10">
      <div
        class="relative isolate flex h-[30rem] w-full justify-center overflow-hidden"
      >
        <img
          class="absolute inset-0 h-full w-full object-cover object-center brightness-50"
          src={`https://meta.contactsplus.live/assets/${globals.hero_cover}`}
          alt="Contacts Plus Hero Cover"
        />
        <div
          class="absolute inset-y-8 flex w-3/4 flex-row items-center justify-center space-x-10"
        >
          <img
            class="hidden w-80 lg:block"
            src={`https://meta.contactsplus.live/assets/${globals.hero_wolf}`}
          />
          <div class="w-full lg:w-1/2">
            <h1 class="text-6xl font-bold tracking-tight md:text-7xl">
              {globals.main_hero}
            </h1>
            <p class="mt-5 text-xl font-light leading-8" id="tagline">
              An existential crisis away from becoming a boyband.
            </p>
          </div>
        </div>
      </div>

      <div id="watch" class="flex w-4/5 flex-col items-center lg:w-2/3">
        <div class="text-center">
          <p class="text-base font-semibold leading-7 text-blue-600">
            You should
          </p>
          <h2 id="watch-now" class="text-4xl font-bold tracking-tight">
            <a href="/watch" class="hover:underline">Watch Now</a>
          </h2>
        </div>
        <div
          class="mt-4 flex w-full flex-col items-center justify-center space-y-8 rounded border border-slate-700 bg-slate-900 lg:w-2/3"
        >
          <div
            class="flex w-full flex-row items-center justify-center gap-4 px-2 pt-4"
          >
            <div
              class="flex w-full flex-col items-center self-stretch pt-4 text-center sm:w-1/3"
            >
              <h3 class="text-xl font-bold tracking-tight">Live</h3>
              <p>Every Thursday, Friday, and Saturday 8pm ET</p>
            </div>
            <div
              class="flex w-full flex-col items-center self-stretch pt-4 text-center sm:w-1/3"
            >
              <h3 class="text-xl font-bold tracking-tight">Video on Demand</h3>
              <p>Episodes available since Season 6</p>
            </div>
          </div>
          <div class="flex w-full flex-row items-center justify-center pb-8">
            <a href="https://tube.contactsplus.live" class="w-2/3 lg:w-1/3"
              ><PeertubeFull /></a
            >
          </div>
        </div>

        <div class="mt-10 flex w-full flex-col items-center">
          <h2 class="text-3xl font-bold tracking-tight">Latest Episodes</h2>
          <div
            class="mt-5 flex w-full flex-row flex-wrap items-stretch justify-center gap-4"
          >
            {
              latestEpisodes.map((episode) => (
                <div class="flex w-full flex-col rounded-lg border border-slate-700 transition hover:bg-slate-800 sm:w-72">
                  <a
                    href={`/episodes/s${episode.season.season_num}e${episode.episode_num}`}
                  >
                    <img
                      class="h-auto w-full rounded-t-lg"
                      src={`https://meta.contactsplus.live/assets/${episode.thumbnail}`}
                    />
                    <div class="w-full p-4">
                      <h3 class="text-xl font-bold">
                        S{episode.season.season_num} E{episode.episode_num}
                      </h3>
                      <p class="mt-2">{episode.title}</p>
                      <p class="mt-2 text-sm text-slate-600">
                        {getNiceDate(episode.published_at)}
                      </p>
                    </div>
                  </a>
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <SupportCTA />
      <div id="team" class="w-5/6">
        <div class="text-center">
          <p class="text-base font-semibold leading-7 text-blue-600">
            You should
          </p>
          <h2 class="text-4xl font-bold tracking-tight">
            <a href="/crew" class="hover:underline">Meet the Crew</a>
          </h2>
        </div>
        <div
          class="mt-10 flex flex-row flex-wrap items-stretch justify-center gap-8 text-center"
        >
          {staff.map((member) => <StaffCard people={member} />)}
        </div>
      </div>
    </artcle>
  </main>
</BaseLayout>
